
$primary-color: blue;
$secondary-color: maroon;

$dir: ltr;
html[dir=#{$dir}] {
  @import "../../src/style/setup";
  @import "../../src/style/components/one";
}


$dir: rtl;
html[dir=#{$dir}] {
  @import "../../src/style/setup";
  @import "../../src/style/components/one";
}




